* {
	box-sizing: border-box;
}

body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: url("../images/background/subtle_white_mini_waves.png");
	width: 960px;
	margin: 0 0 100px; 
}

header {
	/*display: block;*/
	background: #ffffff;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 30px;
	padding-top: 20px;
}

h1 {
	float: left;
	background: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bolder;
	font-size: 24px;
	padding: 20px;
	margin-bottom: 20px;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bolder;
	font-size: 24px;
	padding: 20px;
	margin: 20px;
	border-bottom: 2px solid #cccccc;
}

h3 {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	margin: 20px;
}

h4 {
	background: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: absolute;
	padding: 20px;
	width: 200px;
	bottom: 30px;
}

p {
	line-height: 1.5;
}

.content {
	clear: both;
	width: 650px;
	margin-top: 30px;
	padding: 10px;
	background: #ffffff;
}

.connect {
	width: 270px;
	margin: 20px;
	padding: 10px;
	background: #ffffff;
	text-align: center;
	position: absolute;
	right: 40px;
	bottom: 270px;
}

.form {
	padding: 10px;
}

#contact {
	font-size: 18px;
}

.button {
    padding:8px 22px; 
    background:#4aaaa5;
    color: white;
}

.project {
	position: relative;
	float: left; 
	padding: 10px;
}

#profile-image{
    float: left;
    padding-bottom: 20px;
    padding-right: 20px;
}

footer {	
	clear: both;
	color: #ccc;
	text-align: center;
	font-size: 10px;
	background: #666666;
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
	border-top: 7px solid #4aaaa5
}